@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abril Fatface', cursive;
}
.content_position {
  width: auto;
  margin: 0 130px;
}
.title {
  text-align: center;
  font-size: 42px;
  margin: 45px auto;
}
/* 1B Cover Block*/
#cover {
  width: 100%;
  height: 100vh;
  background: url('/images/cover_background1.jpg') no-repeat;
  background-size: cover;
}
#cover #header {
  width: 100%;
  height: 150px;
  position: relative;
  background: linear-gradient(#000000, rgba(0, 0, 0, 0.1));
}
#cover #header .logo {
  position: absolute;
  margin-top: 28px;
}
#cover #header .nav {
  right: 0;
  position: absolute;
  margin-top: 45px;
  margin-right: 130px;
}
#cover #header .nav .nav-list {
  list-style-type: none;
}
#cover #header .nav .nav-list .nav-item {
  display: inline-block;
  margin-left: 24px;
}
#cover #header .nav .nav-list .nav-item a {
  text-decoration: none;
  font-size: 18px;
  color: #eaeaea;
}
#cover .about {
  width: 501px;
  position: absolute;
  margin-top: 25vh;
}
#cover .about h1 {
  color: #fff;
  font-size: 51px;
  text-shadow: 1px 3px 3px #000000;
}
#cover .about p {
  color: #828181;
  font-size: 18px;
}
#cover .about .button {
  user-select: none;
  padding: .8em 3em;
  margin-top: 45px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  color: #c19663;
  outline: none;
  border: 2px solid #c19663;
  border-radius: 3px;
  transition: .2s;
}
#cover .about .button:hover {
  background: rgba(193, 150, 99, 0.2);
}
/* 2B Dishes Block*/
#our-dishes {
  width: 100%;
  background: #fff;
}
#our-dishes .dishes {
  width: 100%;
  margin-bottom: 50px;
}
#our-dishes .dishes .dishes-carousel {
  width: 70%;
  margin: 0 auto;
}
#our-dishes .dishes .dishes-carousel .dish {
  width: auto;
  text-align: center;
  float: left;
  margin: auto 15px;
}
#our-dishes .dishes .dishes-carousel .dish img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 0 5px 9px -2px;
}
#our-dishes .dishes .dishes-carousel .dish p {
  font-family: 'Myriad', sans-serif;
  font-size: 21px;
  margin-top: 30px;
}
#our-dishes .dishes .dishes-carousel .slick-next,
#our-dishes .dishes .dishes-carousel .slick-prev {
  width: 30px;
  height: 75px;
  top: 43%;
}
#our-dishes .dishes .dishes-carousel .slick-prev {
  left: -50px;
  background: url('/images/dishes/prev_arrow.png') no-repeat;
}
#our-dishes .dishes .dishes-carousel .slick-next {
  right: -50px;
  background: url('/images/dishes/next_arrow.png') no-repeat;
}
#our-dishes .dishes .dishes-carousel .slick-prev:before,
#our-dishes .dishes .dishes-carousel .slick-next:before {
  content: ' ';
}
/* 3B Quote Block*/
#quotes {
  width: 100%;
  height: 400px;
  background: url('/images/quotes_background1.jpg');
  background-size: cover;
  position: relative;
}
#quotes .quote-text {
  width: 30%;
  display: block;
  margin-top: 79px;
  position: absolute;
  color: #f5eae9;
}
#quotes .quote-text .quote {
  font-family: 'Myriad', sans-serif;
  font-size: 21px;
  font-weight: normal;
}
#quotes .quote-text .quote-author {
  font-family: 'Roboto', sans-serif;
  text-align: right;
}
/* 4B Features Block*/
#features {
  width: 100%;
  height: 800px;
  background: #fff;
}
#features .features-info,
#features .features-paralax {
  width: 100%;
  height: 400px;
}
#features .features-info .features-content {
  width: 100%;
}
#features .features-info .features-content .feature {
  width: 45%;
  margin: 0 2%;
  display: inline-block;
  float: left;
}
#features .features-info .features-content .feature .feature-title {
  width: 100%;
  height: 50px;
}
#features .features-info .features-content .feature .feature-title img {
  display: inline;
  vertical-align: text-bottom;
  height: 100%;
}
#features .features-info .features-content .feature .feature-title p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}
#features .features-info .features-content .feature .feature-description {
  margin-top: 20px;
}
#features .features-info .features-content .feature .feature-description p {
  font-family: 'Roboto', sans-serif;
}
#features .features-parallax {
  height: 400px;
  position: relative;
  overflow: hidden;
}
#features .features-parallax .parallax-background {
  width: 110%;
  height: 150%;
  position: absolute;
  margin-left: -5%;
  margin-top: -5%;
  display: inline-block;
  background: url('/images/paralax_background1.jpg');
  background-size: cover;
  overflow: hidden;
}
#features .features-parallax .grad {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}
#features .features-parallax .grad h2 {
  font-size: 42px;
  margin-top: 290px;
  color: #fff;
  position: absolute;
  text-shadow: 1px 3px 3px #000000;
}
/* 5B Call Block*/
#call-to-action {
  width: 100%;
  height: 400px;
  background: url('/images/call_background1.jpg');
  background-size: cover;
  position: relative;
}
#call-to-action .contact-info-block {
  background: #333333;
  width: 490px;
  height: 190px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -95px 0 0 -245px;
  text-align: center;
}
#call-to-action .contact-info-block p,
#call-to-action .contact-info-block h2 {
  color: #fff;
  text-shadow: 1px 3px 3px #000000;
}
#call-to-action .contact-info-block p {
  font-family: 'Roboto', sans-serif;
  margin-top: 45px;
  font-size: 21px;
}
#call-to-action .contact-info-block h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 42px;
}
/* 6B Footer Block*/
#footer {
  width: 100%;
  height: 120px;
  background: #333333;
}
#footer .logo {
  text-align: center;
  position: absolute;
  margin-top: 20px;
}
#footer .logo p {
  font-family: 'Roboto', sans-serif;
  color: #eaeaea;
}
#footer .nav {
  right: 0;
  position: absolute;
  margin-top: 30px;
  margin-right: 130px;
}
#footer .nav .nav-list {
  list-style-type: none;
}
#footer .nav .nav-list .nav-item {
  display: inline-block;
  margin-left: 24px;
}
#footer .nav .nav-list .nav-item a {
  text-decoration: none;
  font-size: 18px;
  color: #eaeaea;
}
@media screen and (max-width: 768px) {
  .content_position {
    margin: 0;
  }
  .title {
    margin: 15px auto;
  }
  #cover .logo,
  #footer .nav {
    display: none;
  }
  #cover .about {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #cover .about .button {
    margin-top: 0;
  }
  #cover #header .nav {
    width: 100%;
    margin-right: 0;
  }
  #cover #header .nav .nav-list {
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  #cover #header .nav .nav-list .nav-item {
    margin: 0 15px;
  }
  #our-dishes .dishes .dishes-carousel {
    width: 100%;
    overflow: hidden;
  }
  #quotes .quote-text {
    width: 100%;
    text-align: center;
  }
  #quotes .quote-text .quote-author {
    text-align: center;
  }
  #features {
    height: auto;
  }
  #features .features-info {
    height: auto;
  }
  #features .features-info .features-content .feature {
    width: 90%;
    float: none;
  }
  #features .features-parallax {
    display: none;
  }
  #call-to-action .contact-info-block {
    width: 100%;
    top: 25%;
    left: 0;
    margin: 0;
  }
  #footer .logo {
    margin-top: 10px;
  }
}
